name: builder
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: |
          eval "$(nix print-dev-env)"

          parallel --tagstring "{}>" ::: \
              "pyright" \
              "pytest" \
              "ruff check" \
              "ruff format --check" \
              "treefmt --ci"
      - run: "nix build -Lv"

